/.idea
/react/webpack/node_modules
/typescript/node_modules
/typescript/ts-base/node_modules
/test/JestTest/node_modules/
/webpack/webpack-demo-1/node_modules
/node_modules
/other/弹幕/node_modules
promise/node_modules